body {
    background-color:#1d1d1d;
    color:#FFFFFF;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95dvh;
    width: 99dvw;
    font-family:'Arial Narrow Bold', Arial, sans-serif;
}

main {
    margin-top: 6%;
}

h1 {
    display: flex;
    justify-content: center;
}

footer {
    display:flex;
    justify-content: center;
    margin-bottom: 0px;
}

footer > * {
    margin: 10px;
}

#input-form-section {
    background-color: #2b2b2b;
    border-radius:10px;
    display: flex;
    width: 80%;
    max-width: 700px;
    flex-direction: row;
    flex-grow: 0;
}

#input-form-section > *{
    margin: 3%;
}

.vertical-divider {
    width: 2px;
    background-color: #dedede;
}

.center-box {
    display: flex;
    justify-content: center;
}